@use 'global' as *;

.campaign {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    @include mq('md') {
      display: block;
      position: absolute;
      top: rem(-80);
      width: rem(80);
      height: rem(80);
      background-color: $base;
      border: 1px solid $main;
      border-radius: 50%;
    }
  }

  .swiper-button-prev {
    left: 70.8%;
  }

  .swiper-button-next {
    right: 12.5%;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    @include mq('md') {
      position: absolute;
      display: inline-block;
      content: "";
      width: rem(40);
      height: rem(6);
      border-bottom: 1px solid $main;
      top: 48%;
    }
  }

  .swiper-button-prev::after {
    left: 52%;
    border-left: 1px solid $main;
    transform: translate(-50%, -50%) skew(-45deg);
  }

  .swiper-button-next::after {
    left: 45%;
    border-right: 1px solid $main;
    transform: translate(-50%, -50%) skew(45deg);
  }

}

.campaign__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: rem(28);
  margin-right: calc(50% - 50vw);
  @include mq('md') {
    margin-top: rem(34);
  }
}

.campaign__slide {
  padding-bottom: rem(10);
  padding-left: rem(10);
  height: 100%;
}

.campaign__button {
  margin-top: rem(30);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}
