@use "global" as *;

.header {
  height: rem(80);
  width: 100%;
  background: rgba(13, 41, 54, 0.68);
  position: fixed;
  z-index: 1000;
  @include mq('md') {
    height: rem(90);
  }
}

.header:active {
  background: #9A9A9A;
  transition: all .1s;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    padding-right: rem(20);
    padding-left: rem(40);
  }
}

.header__logo img {
  position: relative;
  width: rem(175);
  z-index: 500;
  @include mq('md') {
    width: rem(175);
  }
}

.header__login {
  margin-left: auto;
}

.header__login a {
  position: relative;
  z-index: 1;
  height: rem(32);
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  padding: 0 min(0.9vw, rem(20));
  width: rem(120);
  background-color: #ecc77c;
  @include mq('md') {
    display: none;
  }
  &.shiny {
    background: #ecc77c;
    background: linear-gradient(
      -45deg,
      #ecc77c 50%,
      lighten(#ecc77c, 20%) 60%,
      #ecc77c 70%
    );
    background-size: 600% 100%;
    animation: shine 20s infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -400%;
  }
}

.header__login a::after {
  content: "";
  position: absolute;
  background-color: $base;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.header__login a:hover::after {
  transform: scale(1, 1);
}

.header__login a:hover .header__login-item {
  color: $main;
}

.header__login-item {
  font-size: rem(12);
  font-weight: normal;
  font-family: $base-font-family;
  line-height: 1.5;
  color: $font;
}

.header__drawer {
  margin-left: rem(16);
  @include mq('md') {
    display: none;
  }
}

.header__pc-nav {
  height: inherit;
  display: none;
  @include mq('md') {
    display: block;
    margin-left: auto;
  }
}

.header__sp-nav {
  display: none;
}