@use "global" as *;

.loading {
  background-color: $base;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}

.loading-screen {
  background-color: #ebebeb;
  position: fixed;
  inset: 0;
  z-index: 9998;
  translate: 0 100vh;
}

.loading p {
  font-size: rem(32);
  font-family: $forth-font-family;
}