@use "global" as *;

.voice {
  position: relative;
}

.voice__inner {
  max-width: rem(600);
}

.voice::before {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    top: rem(-120);
    left: calc(50% - min(48vw, 40rem));
    width: rem(316);
    height: rem(154);
    background-image: url(../images/common/voice-golf_left.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.voice::after {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    bottom: rem(-70);
    right: calc(50% - min(48vw, 38rem));
    width: rem(128);
    height: rem(208);
    background-image: url(../images/common/voice-golf_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.voice__items {
  margin-top: rem(44);
  @include mq('md') {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}
